openapi: "3.1.0"
info:
  title: Bounan.Common models
  version: 2.0.0
components:
  schemas:
    VideoKey:
      type: object
      description: Key to identify a video.
      properties:
        myAnimeListId:
          type: integer
        dub:
          type: string
        episode:
          type: integer
      required:
        - myAnimeListId
        - dub
        - episode
      additionalProperties: false
    
    Interval:
      type: object
      description: Interval of time in seconds.
      properties:
        start:
          type: number
          format: float
        end:
          type: number
          format: float
      required:
        - start
        - end
      additionalProperties: false
    
    Scenes:
      type: object
      description: Scenes of a video. If a scene is not present, it means that it is not recognised.
      properties:
        opening:
          $ref: '#/components/schemas/Interval'
        ending:
          $ref: '#/components/schemas/Interval'
        sceneAfterEnding:
          $ref: '#/components/schemas/Interval'

    SceneRecognisedNotificationItem:
      properties:
        videoKey:
          $ref: '#/components/schemas/VideoKey'
        scenes:
          $ref: '#/components/schemas/Scenes'
      required:
        - videoKey
      additionalProperties: false

    SceneRecognisedNotification:
      type: object
      description: Notification that video scenes have been recognised (for multiple videos at once)
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SceneRecognisedNotificationItem'
      required:
        - items
      additionalProperties: false
    
    VideoDownloadedNotification:
      description: Notification that a video has been downloaded
      properties:
        videoKey:
          $ref: '#/components/schemas/VideoKey'
        messageId:
          type: integer
          format: int32
        scenes:
          $ref: '#/components/schemas/Scenes'
        publishingDetails:
          $ref: '#/components/schemas/PublishingDetails'
      required:
        - videoKey
    
    VideoRegisteredNotificationItem:
      properties:
        videoKey:
          $ref: '#/components/schemas/VideoKey'
      required:
        - videoKey
    
    VideoRegisteredNotification:
      type: object
      description: Notification that a video has been registered (for multiple videos at once)
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/VideoRegisteredNotificationItem'
      required:
        - items
      additionalProperties: false
    
    MatcherResponse:
      type: object
      description: List of a videos to match
      properties:
        videosToMatch:
          type: array
          items:
            $ref: '#/components/schemas/VideoKey'
      required:
        - videosToMatch
      additionalProperties: false
    
    MatcherResultRequestItem:
      properties:
        videoKey:
          $ref: '#/components/schemas/VideoKey'
        scenes:
          $ref: '#/components/schemas/Scenes'
      required:
        - videoKey
      additionalProperties: false

    MatcherResultRequest:
      type: object
      description: Request to send the result of the matching
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MatcherResultRequestItem'
      required:
        - items
      additionalProperties: false
    
    DownloaderResponse:
      type: object
      description: A video to download
      properties:
        videoKey:
          $ref: '#/components/schemas/VideoKey'
      additionalProperties: false
    
    DownloaderResultRequest:
      description: Request to send the result of the download
      properties:
        videoKey:
          $ref: '#/components/schemas/VideoKey'
        messageId:
          type: integer
          format: int32
      required:
        - videoKey
      additionalProperties: false
    
    BotRequest:
      type: object
      description: Request to send from the bot tp AniMan
      properties:
        videoKey:
          $ref: '#/components/schemas/VideoKey'
      required:
        - videoKey
      additionalProperties: false
    
    BotResponse:
      type: object
      description: Response to send from AniMan to the bot
      properties:
        status:
          $ref: '#/components/schemas/VideoStatus'
        messageId:
          type: integer
          format: int32
        scenes:
          $ref: '#/components/schemas/Scenes'
        publishingDetails:
          $ref: '#/components/schemas/PublishingDetails'
      required:
        - status
      additionalProperties: false

    PublishingDetails:
      type: object
      description: Information about the publishing
      properties:
        threadId:
          type: integer
          format: int32
        messageId:
          type: integer
          format: int32
      required:
        - threadId
        - messageId
      additionalProperties: false

    PublisherResultRequestItem:
      type: object
      description: Request to send the result of the publishing
      properties:
        videoKey:
          $ref: '#/components/schemas/VideoKey'
        publishingDetails:
          $ref: '#/components/schemas/PublishingDetails'
      required:
        - videoKey
        - publishingDetails
      additionalProperties: false
    
    PublisherResultRequest:
      type: object
      description: Request to send the result of the publishing
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PublisherResultRequestItem'
      required:
        - items
      additionalProperties: false
    
    RegisterVideosRequestItem:
      type: object
      description: Request to register a video
      properties:
        videoKey:
          $ref: '#/components/schemas/VideoKey'
      required:
        - videoKey
      additionalProperties: false
    
    RegisterVideosRequest:
      type: object
      description: Request to register videos
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RegisterVideosRequestItem'
      required:
        - items
      additionalProperties: false

    VideoStatus:
      type: string
      description: Status of a video
      enum:
        - Pending
        - Downloading
        - Downloaded
        - Failed
        - NotAvailable
